**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [44]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.data_types_and_missing_data import *
print("Setup complete.")

Setup complete.

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [45]:
# Your code here
dtype = reviews.points.dtype
print(dtype)

#dtype = reviews['points'].dtype

# Check your answer
q1.check()

int64

Correct

In [46]:
#q1.hint()
#q1.solution()

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [47]:
point_strings = reviews.points.astype('str')
print(point_strings)

#point_strings = reviews['points'].astype('str')

# Check your answer
q2.check()

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

Correct

In [48]:
#q2.hint()
#q2.solution()

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [49]:
price_null = reviews.price.isnull().value_counts()
print(price_null)
n_missing_prices = reviews['price'].isnull().sum()


# Check your answer
q3.check()

False    120975
True       8996
Name: price, dtype: int64

Correct

In [50]:
#q3.hint()
#q3.solution()

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [53]:
reviews_per_region = reviews['region_1'].fillna("Unknown").value_counts()
print(reviews_per_region)

# reviews_per_region = reviews['region_1'].value_counts(dropna=False)

# Check your answer
q4.check()

Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

Correct

In [52]:
#q4.hint()
#q4.solution()

In [57]:
# como importar um determinado tipo de coluna
import numpy as np

reviews.dtypes
reviews.select_dtypes(include=np.number)

        points  price
0           87    NaN
1           87   15.0
2           87   14.0
3           87   13.0
4           87   65.0
...        ...    ...
129966      90   28.0
129967      90   75.0
129968      90   30.0
129969      90   32.0
129970      90   21.0

[129971 rows x 2 columns]

# Keep going

Move on to **[renaming and combining](https://www.kaggle.com/residentmario/renaming-and-combining)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*